<div class="home w-100 vh-100 overflow-hidden position-relative">
    <video autoplay muted loop class="w-100 object-fit-cover" id="myVideo">
        <source src="assets/backgroundVideo.webm" type="video/webm">
    </video>
    <div class="content position-absolute top-0 start-0 end-0 bottom-0 d-flex justify-content-center align-items-center flex-column">
        <h1 class="fw-bolder text-center">Route Production</h1>
        <p class="fs-4">Range Of The Motion Picture</p>
        <span class="fw-bold fs-5">FOLLOW US:</span>
        <div class="d-inline-block py-2">
            <span class="fa-stack fa-lg">
              <i class="fa-regular fa-circle fa-stack-2x"></i>
              <i class="fab fa-facebook fa-stack-1x "></i>
            </span>
            <span class="fa-stack fa-lg">
              <i class="fa-regular fa-circle fa-stack-2x"></i>
              <i class="fab fa-twitter fa-stack-1x"></i>
            </span>
            <span class="fa-stack fa-lg">
              <i class="fa-regular fa-circle fa-stack-2x"></i>
              <i class="fab fa-instagram fa-stack-1x"></i>
            </span>
            <span class="fa-stack fa-lg">
              <i class="fa-regular fa-circle fa-stack-2x"></i>
              <i class="fab fa-linkedin fa-stack-1x"></i>
            </span>
        </div>
        <a routerLink="allMovies" class="btn btn-outline-danger shadow-lg mt-3 fw-bold">All Movies</a>
    </div>
</div>